@font-face {
    font-family: retron2000;
    src: url(../fonts/fonts/Retron2000.otf) format('truetype');
    font-style: normal;
}
@font-face {
    font-family: ahamono;
    src: url(../fonts/TUV-Ahamono/TUV-Ahamono.otf);
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: retron2000;

}
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 1px 2px 3px rgba(132, 132, 132, 0.854);
    padding: 10px;
    transition: transform .2s linear;
    background-color: #2E4F4F;
}

.nav-link{
    color: white;
}
.label h2{
    color: aliceblue;
}
#logo{
    margin: 0px 10px 0px 10px;
}
li{
    font-weight: bold;
}

input[type="text"], input[type="password"],input[type="phone"],input[type="email"] {
    padding: 10px;
    width: 90%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
}

input[type="submit"] {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

input.search{
    width: 700px;
    padding: 20px;
    border-radius: 30px;
    height: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.content{
    background-image: url(../resource/background.png);
    padding-bottom: 80px;
}
.right{
    justify-content: center;
    margin-bottom: 9px;
}
.cards-wrapper {
    display: flex;
    justify-content: space-between;
    
  }
.card img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;
    
}
.card {
    margin: 0 0.8em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    width: 33%;
    transition: 0.2s;
}
.card-title{
    font-weight: bolder;
    color: #2E4F4F;
}
.card-body{
    background-color: #CBE4DE;
    border-radius: 10px;
}
.card-body a{
    background-color: #0E8388;
    border-color: #0E8388;
    color: aliceblue;
    border-radius: 8px;
}
#add{
    background-color: #CBE4DE;
    border-color: #CBE4DE;
    color: #2E4F4F;
    font-family: ahamono;
}
#buy{
    margin-left: 30px;
    padding-bottom: 15px;
}
h2:hover{
    color: black; /* màu chữ thay đổi khi hover */
    transition: color 0.3s ease-in-out;
}
.card-title:hover{
    color: #0E8388; /* màu chữ thay đổi khi hover */
    transition: color 0.3s ease-in-out;
}
.card-price{
    font-size: 17px;
    font-family: ahamono;
}
.card-text{
    font-size: 14px;
    font-family: ahamono;
}
.card-date{
    font-size: 13px;
    font-style: oblique;
    font-family: ahamono;
}
.card-media h5{
    margin-left: 10px;
    margin-top: 10px;
}
.carousel-inner {
    padding: 1em;
}
.carousel-caption a{
    color: aliceblue;
}
  
.carousel-item button {
    position: absolute;
  }
#demo{
    width: 100%;
    align-items: center;
    background-position-x: center;
}
@media (min-width: 768px) {
    .card img {
        height: 15em;
        border-radius: 10px;
}
}
.btn {
    background-color: #1c6371;
    color: #949494;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
  
.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.5s ease;
}
#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
}
.btn:hover::before {
    transform: translate(200%, 200%);
}
/* Thay đổi màu nền của menu khi rê chuột */
.nav-item:hover a {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
.nav-item:hover {
    background-color:#CBE4DE;
  }
  
  /* Thay đổi màu chữ của menu khi rê chuột */
  .nav-item:hover a {
    color: #373a3c;
  }
  /* Hiển thị menu con của dropdown khi rê chuột vào */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Thay đổi màu nền của dropdown khi rê chuột */
  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  /* Thay đổi màu chữ của dropdown khi rê chuột */
  .dropdown-item:hover a {
    color: #373a3c;
  }
/*  
#servicemenu li{
    line-height: 55px;
    font-size: 11px;
    margin: 5px 10px;
    color: rgb(63, 63, 63);
}

#servicemenu a {
    color: aliceblue;
}

#servicemenu{
    margin-left: 220px;
}

#socialmenu li{
    line-height: 55px;
    font-size: 14px;
    margin: 5px 10px;
}

#socialmenu{
    margin-left: 340px;
} */
/* 
.footer-mid{
    margin: 20px 50px 20px 220px;
}

.footer .footer-top .footer-links-container .footer-links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-links h2{
    font-weight: bold;
}
.footer-links a{
    color: black;
    font-size: 13px;
} */
#mediagame{
    margin-top: 50px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-media:hover{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-media{
    height: 200px;
    width: 100%;
}
.card-media h5{
  font-weight: 10;
  color: aliceblue;
}

.card-1{
    background-image: url(../resource/gif1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}

.card-2{
    background-image: url(../resource/gif2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}

.card-3{
    background-image: url(../resource/gif3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    margin-bottom: 20px;
}

.card-4{
    background-image: url(../resource/gif4.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}

.card-5{
    background-image: url(../resource/gif5.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}

.card-6{
    background-image: url(../resource/gif2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}

@media(max-width: 990px){
  .card-media{
    margin: 10px;
  }
}



.contenedor {
    height: 100%;
    padding: 5% 0;
  }
  
  h1 {
    color: #FCFBFA;
  }
  
  .container_foto {
    background-color: rgba(57, 62, 93, 0.7);
    padding: 0;
    overflow: hidden;
    max-width: 350px;
    margin: 15px;
  }
  
  .container_foto article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .container_foto h2 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
  }
  
  .container_foto h4 {
    font-weight: 400;
    color: #fff;
    font-size: 16px;
  }
  
  .container_foto img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -o-transition: all 4s ease;
    -ms-transition: all 4s ease;
    transition: all 4s ease;
  }
  
  .ver_mas {
    background-color: rgba(250, 250, 250, 0.7);
    position: absolute;
    width: 100%;
    height: 120px;
    left: 10;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .ver_mas span {
    font-size: 40px;
    color: #fff;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 13px;
  }
  
  
  /*hovers*/
  
  .container_foto:hover {
    cursor: pointer;
  }
  
  .container_foto:hover img {
    opacity: 0.1;
    transform: scale(1.5);
  }
  
  .container_foto:hover article {
    transform: translate(2px, -69px);
    -webkit-transform: translate(2px, -69px);
    -moz-transform: translate(2px, -69px);
    -o-transform: translate(2px, -69px);
    -ms-transform: translate(2px, -69px);
  }
  
  .container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
  }

.image-carousel{
    height: 600px; /* chiều cao cố định */
    width: 100%; /* chiều rộng tự động */
    object-fit: cover; /* phủ toàn bộ khung hình */
}


@media (max-width: 1000px) {
    .image-carousel{
        height: 300px;
    }
    .card-text{
        display: none;
    }
    #buy{
        display: none;
    }
}




